Source: ptux-sdk-hdseriesx
Section: devel
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: ptux-sdk-hdseriesx
Architecture: all
Depends:
 ptux-sdk-amd64,
 ${misc:Depends}
Description: Pragmatux SDK (hdseriesx)
 The Pragmatux SDK for the Hatteland Series X displays.
